<div class="ui four column stackable grid">
    {% for product_set in product_sets %}
        <h3>{{ product_set.name }}</h3>
        <div class="row">
            {% for product in product_set.products %}
                <div class="column">
                    {% include '@SyliusShop/Product/_box.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <form action="{{ path('app_shop_add_product_set_to_cart') }}" method="post">
                <input type="hidden" value="{{ product_set.code }}" name="productSetCode">
                <button type="submit">{{ 'sylius.ui.add'|trans }}</button>
        </form>
    {% endfor %}
</div>
